{
  "addons": {
    "zotrayo@example.com": {
      "updates": [
        {
          "version": "0.1.0",
          "update_link": "https://zotero-download.s3.amazonaws.com/tmp/zotrayo/zotrayo-2.0.xpi",
          "update_hash": "sha256:0000000000000000000000000000000000000000000000000000000000000000",
          "applications": {
            "zotero": {
              "strict_min_version": "7.0"
            }
          }
        }
      ]
    }
  }
}
